
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>

<iframe id="inlineFrameExample"
        title="Inline Frame Example"
        width="800"
        height="800"
        src="https://app.powerbi.com/reportEmbed?reportId=ee26dcb8-f1a1-43d6-827a-b5cf2c934fc1&autoAuth=true&ctid=8fbaa5bf-2ecc-4dc8-b56b-8f92e307f076&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D&filter=Info/years eq 2018"></iframe>

